@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* #root {
  max-width: 90rem;
  margin: 0 auto;
} */

body {
  /* background-color: #f9fafc !important; */
  background-color: #F5F9FE !important;
  font-family: "Outfit" !important;
}

:root {
  /* --color-primary: #884ea7; */
  /* --color-secondary: #ec4899; */
  --color-background: #ffffff;
  --color-text: #000000;
  --color-icon: #000000;
  --color-border: #e0e0e0;
}

html[data-theme="dark"] {
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-background: #0f172a;
  --color-text: #f1f5f9;
  --color-icon: #f1f5f9;
  --color-border: #36465e;
}

html[data-theme="red"] {
  --color-primary: #dc2626;
  --color-secondary: #f97316;
  --color-background: #ffffff;
  --color-text: #1f2937;
  --color-icon: #000000;
  --color-border: #f4f5f8;
}

button,
a {
  cursor: pointer;
}
